html {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mainBackground {
  width: 100%;
  background-image: url("./images/TARTINE_ORANGE_2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainText {
  text-shadow: 1px 1px #494949;
}

.logoImage {
  width: 12rem;
}

.scrollGif {
  top: 90%;
  left: 50%;
}

#leftBigPanel {
  background-image: url("./images/Affiche_VCA.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#chloePanel {
  background-image: url("./images/visuel-carré-chloé.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#palaisPanel {
  background-image: url("./images/visuel-carré-palais-de-lélysée.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#nationalePanel {
  background-image: url("./images/visuel-carré-assemblée-naitonale.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#chateauPanel {
  background-image: url("./images/VERSAILLES-carre.jpg");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#maisonPanel {
  background-image: url("./images/Martin-Margiela.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#louvrePanel {
  background-image: url("./images/LOUVRE-carre-1.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#beauxPanel {
  background-image: url("./images/BEAUX-ARTS-DE-PARIS-carré.png");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#ceaPanel {
  background-image: url("./images/CEA-carre.jpg");
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
}

#leftBigPanel:hover,
#chloePanel:hover,
#palaisPanel:hover,
#nationalePanel:hover,
#chateauPanel:hover,
#maisonPanel:hover,
#louvrePanel:hover,
#beauxPanel:hover,
#ceaPanel:hover {
  transform: scale(1.1);
  -webkit-filter: brightness(50%);
}

#glowingText {
  text-shadow: 0px 0px 4px white;
}

#servicesPart {
  background-image: url("./images/tartine_rouge.png");
  background-position: center center;
  background-size: contain;
  transform: scale(1.1);
  background-repeat: repeat-x;
  -webkit-filter: brightness(80%);
}

.bg-rose {
  background-color: #c84b47;
}

.customerPanel {
  filter: grayscale(100%);
  transition: all 0.3s;
}

.customerPanel:hover {
  filter: grayscale(0%);
}

#customerPanel1 {
  background-image: url("./images/Logo-science-po-carré.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel2 {
  background-image: url("./images/logo_og.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel3 {
  background-image: url("./images/vca.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel4 {
  background-image: url("./images/EDF-logo-carré.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel5 {
  background-image: url("./images/PINAULT-carre.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel6 {
  background-image: url("./images/FHC-logo-carre.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel7 {
  background-image: url("./images/REED-EXHIBITIONS-logo-carre.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel8 {
  background-image: url("./images/RAFFLES-logo-carre.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel9 {
  background-image: url("./images/Pernod_Ricard_logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel10 {
  background-image: url("./images/MINISTERE-DES-ARMEES-logo-carre.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel11 {
  background-image: url("./images/inserm_couleur.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#customerPanel12 {
  background-image: url("./images/logo_four_season-copie.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#facebookLogo {
  background-image: url("./images/facebook.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#instagramLogo {
  background-image: url("./images/instagram.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.w-101 {
  width: 42rem;
}

.ml-68 {
  margin-left: 17rem;
}

.unClickableText {
  pointer-events: none;
}
